<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Interlabs</strong> by <a href="https://github.com/uhteddy">Teddy Hartling</a>. Interlabs services are not to be distributed, edited, tampered, sold or given by a third party company or person.
        </p>
    </div>
</footer>