<footer class="footer is-small">
    <div class="content has-text-centered">
        <p><img src="https://cdn.discordapp.com/attachments/518952693797093377/614263982773108811/favicon.png" alt="Logo" height="15", width="15"> <strong>Interlabs</strong> made with ❤️ by <a href="https://github.com/uhteddy">Teddy Hartling</a></p>
        <p>Copyright © 2019, Interlabs, All Rights Reserved</p>
        <p>Distributing or selling Interlab products is prohibited and will lead to a termination.</p>
    </div>
</footer>