<div class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <img src="https://cdn.discordapp.com/attachments/477303086935965701/609967810701164544/logo.svg" alt="interlab logo">
            </a>
            <span class="navbar-burger burger nav-toggle" id="nav-toggle" data-target="nav-menu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id='nav-menu' class="navbar-menu">
            <div class="navbar-end nav-menu">
                <span class="navbar-item">
                    <a href="/auth/logout" class="button is-primary is-outlined is-inverted">
                        <span class="icon is-small">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>