<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Interlab - Admin</title>
</head>
<body>
    <section class="hero is-small is-primary">
        <div class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/dashboard" class="navbar-item">
                        <img src="https://cdn.discordapp.com/attachments/477303086935965701/609967810701164544/logo.svg" alt="interlab logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end nav-menu">
                        <span class="navbar-item">
                            <a href="/auth/logout" class="button is-primary is-outlined is-inverted">
                                <span class="icon is-small">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Hello, <%= user.username %> <% if (user.beta) { %> <span class="tag is-info">Beta <% }; %></span></h1>
                <p class="subtitle has-text-centered">Admin Panel</p>
            </div>
        </div>
        <div class="hero-footer">
            <div class="container">
                <div class="tabs is-boxed">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <span class="icon is-small"><i class="fas fa-plus"></i></span>
                                <span>Applications</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/shared">
                                <span class="icon is-small"><i class="fas fa-cloud"></i></span>
                                <span>Shared</span>
                            </a>
                        </li>
                        <% if (user.admin) { %>
                        <li class="is-active">
                            <a href="/dashboard/admin">
                                <span class="icon is-small"><i class="fas fa-user-shield"></i></span>
                                <span>Admin</span>
                            </a>
                        </li>                 
                        <% }; %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <% include ./partials/message %>
        <div class="table-container">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>UserID</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <% Object.keys(users).forEach(function(user) { %>
                    <tbody>
                        <td><div class="level"><div class="level-left"><div class="level-item is-marginless"><%= users[user].username %></div>
                            <div class="level-item is-marginless">
                                <% if (users[user].admin) { %>
                                    <span class="icon has-text-info">
                                        <i class="fas fa-shield-alt"></i>
                                    </span>
                                <% }; %>
                            </div>
                        </div></div></td>
                        <td><%= users[user].id %></td>
                        <td><a class="button is-info" href="/dashboard/admin/<%= users[user].username %>">Edit</a></td>
                        <% if (!users[user].admin) { %>
                            <td><button class="button is-danger">Delete</button></td>
                        <% } else { %>
                            <td>N/A</td>
                        <% }; %>
                    </tbody>
                <% }); %>
            </table>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
<script type="text/javascript">
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);
     
      burger.addEventListener('click', function(){
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
</script>
<script>
    // Modal
    var Create = document.getElementById();
</script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>