<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>403 Error</title>
</head>
<body>
    <section class="hero is-fullheight is-primary">
        <div class="hero-body">
            <div class="container has-text-centered is-centered">
                <h1 class="title">403 Forbidden</h1>
                <p class="subtitle">You do not have access to this page!</p>
            </div>
        </div>
    </section>   
</body>
</html>