<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Interlab - Sign-Up</title>
</head>
<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <a href="/">
                    <img src="https://cdn.discordapp.com/attachments/477303086935965701/609967810701164544/logo.svg" alt="" height="50" width="200">
                </a>
                <% include ./partials/message %>
                <div class="columns is-centered">
                    <div class="column is-5">
                        <div class="tabs is-boxed is-centered" style="margin-bottom: 0px">
                            <ul>
                                <li class="is-active">
                                    <a href="/auth/login">
                                        <span class="icon is-small"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>
                                        <span>Login</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/auth/signup">
                                        <span class="icon is-small"><i class="fas fa-user-plus" aria-hidden="true"></i></span>
                                        <span>Sign-Up</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="box" style="margin-top: 0px;">
                            <form action="/auth/login" method="POST">
                                <div class="fields">
                                    <div class="field">
                                        <label for="" class="label has-text-left">Username:</label>
                                        <div class="control">
                                            <input type="text" class="input" name="username" id="username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label has-text-left">Password:</label>
                                        <div class="control">
                                            <input type="password" name="password" id="password" class="input" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="control">
                                        <script src="//www.google.com/recaptcha/api.js" async defer></script><div class="g-recaptcha" data-sitekey="6Ld4hbIUAAAAAHuV6Ct0katfyY2KO5IHNyU0d2Vq" data-callback="cb"></div>
                                    </div>
                                    <div class="control">
                                        <div class="field">
                                            <button class="button is-primary has-text-left" type="submit">
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>